In [4]:
import pandas as pd
import numpy as np
d=pd.read_csv('ionosphere.txt',header=None)
data=np.array(d.iloc[:,:34])
def fun(a):
    return np.mean(a)
mean=np.apply_along_axis(fun,0,data)
print(mean.shape)
data_u=data-mean
data_u_t=np.transpose(data_u)
shape=data.shape[0]
cov=(np.matmul(data_u_t,data_u))/shape
e,v=np.linalg.eig(cov)
ei=np.argsort(-e)
e=np.sort(-e)*-1
su=np.sum(e)
v=v[:,ei]
eigenvector=pd.DataFrame(v,columns=e)
pb=0
k=0
for i in range(0,e.size):
    if pb<0.9:
        pb+=e[i]/su
        k=i+1
reduced_data=np.matmul(data,v[:,0:k])
reduced_data_frame=pd.DataFrame(reduced_data)
reduced_data_frame.head()

(34,)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-2.321198,-0.915970,-0.337103,-1.233691,0.029072,-0.669264,-0.068638,-0.122897,-0.670694,0.463273,-0.275135,-0.158000,0.293866,0.090026,0.002780,0.083157,-0.384176,-0.171664
1,-0.696341,-1.017277,0.474153,-0.555946,0.142533,-1.040613,0.453212,0.001194,-0.758564,1.488403,-0.121177,-0.778433,0.384428,0.192004,-0.149484,0.188907,-0.431718,-0.212596
2,-2.578683,-0.346819,-0.931174,-1.150502,0.028619,-0.348037,-0.203553,-0.131334,-0.402900,0.321131,-0.279146,-0.211014,0.068630,0.023722,0.147463,0.023956,-0.188536,-0.179302
3,-0.480186,0.635882,-1.401691,1.048586,0.746922,-0.913769,0.999990,0.724713,0.300824,1.264251,-0.128064,0.550124,1.236037,0.776792,-0.253223,0.194932,0.867200,-1.337064
4,-1.329018,-0.742835,-0.208932,-1.741418,0.202264,-0.634762,-0.131285,0.113778,-0.798742,0.661573,-0.100731,-0.163197,0.114470,-0.108419,0.106883,0.313624,-0.257602,-0.278893